*{
    margin: 0;
}
.circle{
    background-color: red;
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    /*horizontal se mid mein laa dega */
    margin: auto; 
    margin-top: 20vh;
}
